body {
  background: #f8b4cf;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #444;
  margin: 0;
  padding: 0;
}
   /* contacto/inicio */
.container {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 700px;
  margin-top: 60px;
  margin-bottom: 60px;
}

h2 {
  color: #66be86;
  font-weight: 600;
}

.form-label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border-radius: 8px;
  border: 1px solid #413998;
  padding: 10px 12px;
  transition: border-color 0.3s ease;
}


input:focus,
textarea:focus {
  border-color: #d185a3;
  outline: none;
}
.btn-success {
  background-color: #342de9;
  border: none;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-success:hover {
  background-color: #e67327;
}

.alert-success {
  background-color: #eafaf1;
  color: #d185a3;
  border-left: 5px solid #f8f9fa;
  padding: 15px;
  margin-top: 25px;
  border-radius: 10px;
}